.Post-List-Item {
    border-bottom: 1px solid gray;
    display: flex;
    padding: 5px 10px;
    cursor: pointer;
}

.List-Item-Box {
    min-height: 200px;
}

.Post-List-Item:last-child {
    border-bottom: 0 solid transparent;
}

.Post-List-Item:first-child {
    cursor: default;
}

.Post-List-Item:hover {
    background-color: #f1f1f1;
}

.Post-List-Item > span {
    flex: 1 1 100px;
}
